/* Estilos do tema claro */
:root {
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
    --light1: #f0f0f0;
    --light2: #ffffff;
    --light3: #d1d1d1;
    --light4: #a1a1a1;
    --light5: #707070;
    --light6: #e0e0e0;
}

body.light-theme {
    background-color: var(--light1);
    color: var(--dark1);
}

body.light-theme header {
    background-color: var(--light6);
}

body.light-theme .nav-links {
    color: var(--dark1);
}

body.light-theme .nav-links:hover {
    color: var(--dark4);
}

body.light-theme .btn-action {
    border: 1px solid var(--dark1);
    color: var(--dark1);
}

body.light-theme .btn-action:hover {
    background-color: var(--light3);
    border: 1px solid var(--light3);
}

body.light-theme h1 {
    color: var(--dark1);
}

body.light-theme strong {
    color: var(--cyan1);
}

body.light-theme .first-section p {
    color: var(--dark1);
}

body.light-theme .second-section,
body.light-theme .fourth-section {
    background-color: var(--light2);
}

body.light-theme .second-section ul li {
    color: var(--dark1);
}

body.light-theme .second-section ul li:hover {
    color: var(--dark4);
}

body.light-theme .title {
    color: var(--dark1);
}

body.light-theme .third-section > div p {
    color: var(--dark1);
}

body.light-theme #my-projects-list a {
    color: var(--dark1);
}

body.light-theme #my-projects-list a:hover {
    color: var(--dark4);
}

body.light-theme footer p {
    color: var(--dark1);
}

footer .light-theme > div p {
    color: var(--dark1);
}